:root{
    --primary: rgb(255, 187, 0);
    --bg: rgb(25,58,58);
    --lightGray: rgb(230, 230, 230);
}

nav{
    background-color: var(--bg);
    color: white;
    padding: 20px 0;
}

nav h1{
    text-transform: uppercase;
    text-align: center;
}

.tile{
    border-right: 1px solid var(--lightGray);
    border-bottom: 1px solid var(--lightGray);
    font-size: 10px;
    text-align: center;
    color: rgb(155, 154, 154);
    user-select: none;
    border-radius: 20%;
}
.start{
    background-color: red!important;
    color: var(--primary);
}
.block{
    background-color: var(--bg);
    color: var(--bg);
}
.target{
    background-color: rgb(40, 93, 255);
}
.visited{
    background-color: rgb(171, 171, 171);
    transition: background-color linear 500ms;
    color: white;
}
.path{
    background-color: yellow;
    transition: background-color linear 500ms;
}
.tile:hover{
    border-color: var(--bg);
}
.board{
    height: 500px;
    min-width: 1300px;
    max-width: 1300px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(80, 1fr);
    border: 10px solid var(--bg);
}